<h2>HOME PAGE!!!</h2>

{{#each model as |project|}}
  <div class="project-card">
    <h3>{{project.name}}</h3>

    <p>{{project.description}}</p>

    <p>
      {{!-- linkTo('project.detail', project.id) --}}
      {{#link-to "project.detail" project.id class="button"}}Read More{{/link-to}}

    </p>
  </div>
{{/each}}
