<div class="top-nav">
  <div class="container">
    <div class="navbar">
      <div class="navbar__group">
        <h1 class="logo">{{#link-to "index"}}Punchstarter{{/link-to}}</h1>
      </div>

      <div class="navbar__group">
        <ul class="nav-list">
          <li class="nav-list__item">
            {{#link-to "about"}}About{{/link-to}}
            {{!-- <router-link :to="{ name: 'about' }">About</router-link> --}}
          </li>
          <li class="nav-list__item">
            {{#link-to "project.new"}}New Project{{/link-to}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{{outlet}}
{{!-- <router-view></router-view> --}}
