{{#with (changeset model) as |formValues|}}
  <h2>Editing {{model.firstName}} {{model.lastName}}</h2>

  <form {{action "saveContact" formValues on="submit"}}>
  {{!--<form @submit.prevent="saveContact(formValues)">--}}
    {{input value=formValues.firstName}}

    {{#link-to "contact.index"}}Back{{/link-to}}

    <button type="submit">Save</button>
  </form>
{{/with}}
